name: nellebot

services:
  nellebot:
    image: ghcr.io/nellexchange/reifnir:${IMAGE_TAG}
    tty: true
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal=$HOST_GATEWAY_IP"
    environment:
      Nellebot__BotToken: $BOT_TOKEN
      Nellebot__ConnectionString: $DB_CONNECTION_STRING
      Nellebot__ProtectorCertificatePassword: $PROTECTOR_CERT_PASSWORD
    volumes:
      - nellebot-keydata:/keydata
      - ${HOME}/.certs:/certs:ro
      - nellebot-diag-tmp:/tmp

  nellebot-diagnostics:
    image: ghcr.io/selfdocumentingcode/dotnet-diag-tools:9.0
    tty: true
    pid: service:nellebot
    restart: unless-stopped
    volumes:
      - nellebot-diag-tmp:/tmp
      
volumes:
  nellebot-keydata:
    driver: local
  nellebot-diag-tmp:
    driver: local
