name: nellebot-dev

services:
  nellebot:
    build:
      context: ..
      dockerfile: src/Nellebot/Dockerfile
    tty: true
    environment:
      - DOTNET_ENVIRONMENT=Development
    volumes:
      - nellebot-keydata:/keydata
      - ${HOME}/.nellebot-certs:/certs
      - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      - nellebot-diag-tmp:/tmp
  
  nellebot-diagnostics:
    build:
      context: ..
      dockerfile: src/Nellebot/diag.Dockerfile
    tty: true
    pid: service:nellebot
    volumes:
      - nellebot-diag-tmp:/tmp
    profiles:
      - diagnostics

  nellebot-pgsql:
    image: postgres:15.5
    ports:
      - "5433:5432"
    profiles:
      - database
    environment:
      POSTGRES_USER: nellebot
      POSTGRES_PASSWORD: hunter2
      POSTGRES_DB: nellebot-dev
    volumes:
      - nellebot-pgdata:/var/lib/postgresql/data

  nellebot-pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5444:80"
    profiles:
      - tools
    depends_on:
      - nellebot-pgsql
    environment:
      PGADMIN_DEFAULT_EMAIL: nelle@bot.local
      PGADMIN_DEFAULT_PASSWORD: hunter2

volumes:
  nellebot-keydata:
    driver: local
  nellebot-pgdata:
    driver: local
  nellebot-diag-tmp:
    driver: local